@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body {
  font-family: 'Lato', sans-serif;
  background-color: #e6e6e6;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

p.gray {
  margin-bottom: 0;
}

.fjalla-One {
  font-family: 'Fjalla One', sans-serif;
}

.oleo-script {
  font-family: 'Oleo Script', cursive;
}

.black-hans {
  font-family: 'Black Han Sans', sans-serif;
}

.bold {
  font-weight: bold;
}

.black {
  color: #000;
}

.white {
  color: #fff;
}

.gray {
  color: #aaa;
}

.bg-white {
  background-color: #fff;
}

.bg-footer {
  background-color: #131313;
}

.bg-black {
  background-color: #000;
}

.c-f-padd {
  padding-left: 0;
  padding-right: 0;
}

.blog-container {
  padding: 50px;
  margin-top: -10vh;
  border-top: 10px #80a1bebe solid;
  margin-bottom: 5vh;
}

.author-img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.top-banner {
  height: 60vh;
}

.banner {
  height: 60vh;
}

.flexbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}

.feat-wid {
  width: 50vw;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.date {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.mg-btm-o {
  margin-bottom: 0;
}

.headerbar {
  background-color: #fff;
}

.big {
  font-size: 35px;
  font-weight: bold;
  padding: 20px 0px;
}

.md-line {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #dee2e6;
}

.md-line:nth-last-child(-n+1) {
  margin-bottom: 10px;
  border-bottom: 0px;
}

.md-line:first-child {
  margin-top: 0px;
}

.post-image {
  height: 350px;
  margin-bottom: 20px;
}

.footer {
  height: 200px;
}

.footer-social {
  text-align: center;
}

.footer-nav {
  margin-top: 10px;
}

.footer-d {
  height: 85px;
  border-bottom: 15px #fff solid;
}

.gh {
  padding: 10px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.tp-line {
  margin-top: 5px;
  padding-top: 5px;
}

.bigger {
  font-size: 3rem;
}

#searchModal {
  height: 100%;
  width: 100%;
  display: none;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2010;
}

.searchClose {
  height: 7%;
  background-color: #000;
  font-size: 20px;
  padding-top: 0.5%;
}

.searchForm {
  height: 20%;
  background-color: #111;
  padding: 30px 20px;
}

.searchInput, .searchInput:focus {
  height: 5.7rem;
  font-size: 2.2rem;
  font-weight: bold;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  border-bottom: 2px #495057 solid;
}

.searchResult {
  height: 68%;
  overflow: auto;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 5px 20px 30px 20px;
}

.overflow-hidden {
  overflow: hidden;
}

.cursor {
  cursor: pointer;
}

.sm-search span {
  color: rgba(0, 0, 0, 0.5);
}

.c404 {
  height: 100vh;
  background-color: #000;
  padding-right: 15px;
  padding-left: 15px;
}

/* Media query starts here */

@media (min-width: 1200px) {
  .sm-search {
    display: none;
  }

  .c404 h1 {
    font-size: 250px;
  }
}

@media (max-width: 1200px) {
  .post-image {
    height: 350px;
  }

  .sm-search {
    display: none;
  }

  .c404 h1 {
    font-size: 220px;
  }
}

@media (max-width: 992px) {
  .post-image {
    height: 250px;
  }

  .searchResult {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px 20px 20px 20px;
  }

  .searchClose {
    padding-top: 1%;
  }

  .sm-search {
    display: block;
  }

  #searchIcon {
    display: none;
  }
}

@media (max-width: 768px) {
  .post-image {
    height: 280px;
  }

  .searchResult {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px 20px 20px 20px;
  }

  .searchClose {
    padding-top: 2%;
  }

  #searchIcon {
    display: none;
  }

  .c404 h1 {
    font-size: 180px;
  }
}

@media (max-width: 576px) {
  .feat-wid {
    width: 80vw;
  }

  .blog-container {
    padding: 20px;
    margin-top: -5vh;
  }

  .post-image {
    height: 250px;
  }

  .footer {
    height: 250px;
  }

  .footer-d {
    height: 95px;
  }

  .searchResult {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 5px 20px 20px 20px;
  }

  .searchClose {
    padding-top: 2%;
  }

  .sm-search {
    display: block;
  }

  #searchIcon {
    display: none;
  }

  .c404 h1 {
    font-size: 130px;
  }
}

/* Media query ends here */

/* WYSIWYG custom css */

.content li+li {
  margin-top: 0.25em;
}

.content p:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content ul:not(:last-child),
.content blockquote:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child) {
  margin-bottom: 1em;
}

.content p {
  font-family: 'Roboto', sans-serif;
  color: #6c757d !important;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #363636;
  font-weight: 600;
  line-height: 1.125;
}

.content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.content h1:not(:first-child) {
  margin-top: 1em;
}

.content h2 {
  font-size: 1.75em;
  margin-bottom: 0.5714em;
}

.content h2:not(:first-child) {
  margin-top: 1.1428em;
}

.content h3 {
  font-size: 1.5em;
  margin-bottom: 0.6666em;
}

.content h3:not(:first-child) {
  margin-top: 1.3333em;
}

.content h4 {
  font-size: 1.25em;
  margin-bottom: 0.8em;
}

.content h5 {
  font-size: 1.125em;
  margin-bottom: 0.8888em;
}

.content h6 {
  font-size: 1em;
  margin-bottom: 1em;
}

.content blockquote {
  background-color: whitesmoke;
  border-left: 5px solid #dbdbdb;
  padding: 1.25em 1.5em;
  font-family: 'Roboto', sans-serif;
}

.content ol {
  list-style: decimal outside;
  margin-left: 2em;
  margin-top: 1em;
  font-family: 'Roboto', sans-serif;
  color: #6c757d !important;
}

.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em;
  font-family: 'Roboto', sans-serif;
  color: #6c757d !important;
}

.content ul ul {
  list-style-type: circle;
  margin-top: 0.5em;
}

.content ul ul ul {
  list-style-type: square;
  font-family: 'Roboto', sans-serif;
}

.content dd {
  margin-left: 2em;
  font-family: 'Roboto', sans-serif;
  color: #6c757d !important;
}

.content figure {
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #6c757d !important;
}

.content figure:not(:first-child) {
  margin-top: 2em;
}

.content figure:not(:last-child) {
  margin-bottom: 2em;
}

.content figure img {
  display: inline-block;
}

.content figure figcaption {
  font-style: italic;
}

.content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content pre {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
}

.content sup,
.content sub {
  font-size: 75%;
}

.content table {
  width: 100%;
}

.content table td,
.content table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: top;
}

.content table th {
  color: #363636;
  text-align: left;
}

.content table td {
  font-family: 'Roboto', sans-serif;
  color: #6c757d !important;
}

.content table thead td,
.content table thead th {
  border-width: 0 0 2px;
  color: #363636;
}

.content table tfoot td,
.content table tfoot th {
  border-width: 2px 0 0;
  color: #363636;
}

.content table tbody tr:last-child td,
.content table tbody tr:last-child th {
  border-bottom-width: 0;
}

.content.is-small {
  font-size: 0.75rem;
}

.content.is-medium {
  font-size: 1.25rem;
}

.content.is-large {
  font-size: 1.5rem;
}

/* WYSIWYG ends here */